<section class="section">
  <div class="container">
<h1 class="heading--base regular mb-4"><%=@category.name%></h1>
<p class="content-base regular mb-4"><%=@category.description%></p>
<%= link_to "New photo", new_photo_path(category_id: @category.id), class: "button button--secondary button--sm fit-content mb-4" %>
<div class="flex flex-column gap-4">
<% @photos.each do |photo| %>
<div class="employee-card">
<div class="employee-card_details">
<%= image_tag(photo.image.attached? ? photo.image : "/images/icon-gallery.jpg") %>
<div class="employee-card__details">
  
  <%=link_to(photo.title, photo_path(photo), class: "links-name heading--sm regular")%>
  <span class="content-sm regular-gray"><%=photo.comments_count%> Coments</span>
  </div>
  </div>
    <div class="employee-card__footer">
            <%= link_to(image_tag("icons/edit.png"), edit_photo_path(photo)) %>
            <%= link_to(image_tag("icons/Button.png"), photo_path(photo), data: { turbo_method: :delete,turbo_confirm: 'Are you sure?' }) %>
    </div>
</div>
  <% end %>
    </div>
<%= form_with(model: [@category, Comment.new], url: category_comments_path(@category), local: true, class: "flex flex-column gap-4 mb-4") do |form| %>
      <div class="input">
        
        <div class="input__container mt-4">
          <%= form.text_area :comment, class: "input__content place-heigth", placeholder: "Some respectful comment here."%>
        </div>
      </div>
      <%= form.submit "Comment", class: "button button--secondary comment-button" %>
      <%= form.label :comments, class: "heading--xs regular ml-1" %>
    <% end %>

<div class="section-sm">
  <% @comments.each do |comment| %>
    <div class="comment content-base regular">
      <div class="comment-content">
        <p><%= comment.comment %></p>
        <p class="timestamp content-sm regular-gray"><%= "#{time_ago_in_words(comment.created_at)} ago" %></p>
      </div>
      <div class="links-content">
        

          <%= link_to category_comment_path(comment.commentable_id, comment.id),
            data: { turbo_method: :delete,turbo_confirm: 'Are you sure?' },
            class: "btn-transparent" do %>
          <%= image_tag("icons/Button.png",style: "width: 30px; height: 30px;") %>
         <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
</section>
