<!DOCTYPE html>
<html>
  <head>
    <title>SomesplashTeam1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header navbar">
         <%= link_to image_tag("/images/logo2.png"), categories_path %>
          
          <%= link_to "search", { url: "/search", method: :get }, class: "button" do %>
                <%= form_with url: "/search", method: :get do |f| %>
                <%= f.button "Search" %>
                <% end %>
          <% end %>
          

        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer footer__content">
      <div class="container"> 
        <p class = "content-sm regular text-center">Build with ♥ by</p>
        <div class="footer-content">
          <%= link_to("#", class: "link-item") do %>
            <%= image_tag("icons/linkedin-box-line.png", class: "icon") %>
            <span class="name">Celso Diaz</span>
          <% end %>
          <%= link_to("#", class: "link-item") do %>
            <%= image_tag("icons/linkedin-box-line.png", class: "icon") %>
            <span class="name">Aned Herrera</span>
          <% end %>
          <%= link_to("#", class: "link-item") do %>
            <%= image_tag("icons/linkedin-box-line.png", class: "icon") %>
            <span class="name">Katya Anco</span>
          <% end %>
        </div>

      
      </div>
    </footer>
  </body>
</html>
